* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #615f5f;
}

.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

span {
  color: #f42020;
}

.card {
  width: calc(33.33% - 14px);
  background-color: rgb(234, 234, 234);
  padding: 30px;
  /* text-align: center; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    width: 95%;
  }

  .card {
    width: 100%;
  }
}

button {
  background-color: #0d7d99;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0a5c6e;
  scale: 1.05;
}

a{
    color: white;
    text-decoration: none;
}