<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h3>Update Book</h3>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="author" placeholder="Author" required>
        <input type="text" name="price" placeholder="Price" required>
        <input type="submit" value="Add Book">
    </form>
</body>
</html>