
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    background-color: #036282;
    color: white;
    text-align: center;
}

.navbar {
    background-color: #333;
    height: 60px;                 
    display: flex;               
    align-items: center;         
}

.navbar a {
    color: rgb(255, 0, 0);
    margin: 0 20px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    background-color: rgb(238, 240, 198);
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    flex: 1;
}

.sec-content {
    background-color: rgb(244, 157, 157);
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}